.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}